body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjusted alignment */
    height: 400px; /* Fixed height for the container */
    overflow: hidden; /* Prevent overflow */
}

#pokemonContainer {
    max-width: 100%;
    max-height: 100%;
}

#pokemonContainer img {
    max-height: 100%;
    width: auto;
}

#ting {
    border-radius: 90px;
    border-style: solid;
    border-color: gold;
    border-width: 7px;
    box-shadow: 50px;
}

#ting_type {
    padding-top: 4vh;
}

#randomSentence {
    text-align: center;
    margin-top: -9vh; /* Adjusted margin */
}

#foobar { display: none }


h1 {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;    
}

p {
    margin: 0;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    text-align: center;
    color: #EF2D2D;
}

#level, #type {
    color: black;
    font-size: 2em;
}

img {
    width: auto;
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
    max-height: 300px; /* Set a maximum height */
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
        transform: rotate(360deg); /* End rotation at 360 degrees */
    }
}

.rotate {
    animation: rotateAnimation 1s linear; /* Apply rotation animation */
}
